Redirect permanent /blog/2012/11/ruby-reading-the-source-of-openstruct /blog/2012/12/01/ruby-reading-the-source-code-of-openstruct/
Redirect permanent /blog/2012/10/reading-primerb-the-build-in-support-for-primes-in-ruby /blog/2012/10/20/reading-prime-dot-rb-the-build-in-support-for-prime-numbers-in-ruby/
Redirect permanent /blog/2012/10/setrb-random-fact-about-ruby-sets /blog/2012/10/13/set-dot-rb-some-random-facts-about-sets-in-ruby/
Redirect permanent /blog/2012/9/ipv6-at-home /blog/2012/10/07/ipv6-at-home/
Redirect permanent /blog/2012/9/install-your-mac-with-chef /blog/2012/10/01/how-to-setup-your-mac-automatically-with-chef/
Redirect permanent /blog/2012/9/tig-a-nice-frontend-for-git /blog/2012/09/30/tig-a-nice-git-repository-browser/
Redirect permanent /blog/2012/9/script-to-disable-the-internet-on-mac-os-x/ /blog/2012/09/30/script-to-disable-internet-connectivity-for-mac-os-x/
Redirect permanent /blog/2012/9/29/lessons-from-the-prime-factor-decomposer-dojo /blog/2012/09/29/lessons-from-the-prime-factorization-dojo/
Redirect permanent /blog/2012/9/29/ruby-tapas /blog/2012/09/29/ruby-tapas/

